sudo: false
dist: trusty
language: rust
matrix:
  include:
    - rust: nightly
script:
  - ./test/build_openssl.sh
  - cargo +nightly install --force clippy
  - cargo update
  - cargo clippy
  - cargo build -v
cache:
  cargo: true
  directories:
  - $HOME/openssl-1.1.0h/
  timeout: 360
env:
  global:
  - OPENSSL_DIR=$HOME/openssl-1.1.0h
before_cache:
  - chmod -R a+r $HOME/.cargo
