sudo: false
language: rust
matrix:
  include:
    - rust: nightly
script:
  - cargo build -v
cache:
  cargo: true
  apt: true
env:
  global:
  - OPENSSL_VERSION=openssl-1.0.2
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y pkg-config libssl-dev openssl pkg-config libelf-dev libdw-dev cmake gcc binutils-dev libiberty-dev
before_cache:
  - chmod -R a+r $HOME/.cargo
