{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block body %}
<h2>About Me</h2>

<p>I'm Sameer Puri, a Junior at Vanderbilt University studying Computer Science. Currently, I'm interning at Amazon as a Software
    Development Engineer in Seattle, WA. A few of my interests are creating art with code (fogleman/gg, libcairo, openvg,
    Java's Graphics2D, Processing3 etc.) hence the Code Art tab on my site, going on nature hikes, and building Arduino-based
    projects.</p>

<h3>Languages I typically use:</h3>
<ul>
    <li>Java
        <img src="/files/langs/java.svg" class="ico">
    </li>
    <li>Rust
        <img src="/files/langs/rust.svg" class="ico">
    </li>
    <li>Go
        <img src="/files/langs/go.svg" class="ico">
    </li>
    <li>Python
        <img src="/files/langs/python.svg" class="ico">
    </li>
    <li>C++
        <img src="/files/langs/cxx.svg" class="ico">
    </li>
</ul>
<br>

<h3>Noteworthy Public Projects</h3>
<ul>
    <li>
        <a href="https://github.com/vanderbilt-design-studio/studio_status_go">Vanderbilt Design Studio Status</a>
    </li>
    <li>
        <a href="https://github.com/sameer/degree-advisor">Recursive-Backtracing Heuristic Course Scheduler</a>
    </li>
    <li>
        <a href="https://github.com/sameer/real-cost">Real Cost Chrome Extension</a>
    </li>
    <li>
        <a href="https://github.com/sameer/spuri_io">This Site</a>
    </li>
</ul>
{% endblock %}