{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block body %}
<h2>About Me</h2>

<p>I'm Sameer Puri, a student at Vanderbilt University working towards both my B.S. and M.S. in Computer Science. A few of my interests are creating art with code (fogleman/gg, libcairo, openvg,
    Java's Graphics2D, Processing3 etc.) hence the Code Art tab on my site, going on nature hikes, and working on projects in resource constrained systems like SBCs and microcontrollers.</p>

<h3>Languages I typically use:</h3>
<ul>
    <li>Rust
        <img src="/files/langs/rust.svg" class="ico">
    </li>
    <li>Java
        <img src="/files/langs/java.svg" class="ico">
    </li>
    <li>Python
        <img src="/files/langs/python.svg" class="ico">
    </li>
    <li>Go
        <img src="/files/langs/go.svg" class="ico">
    </li>
    <li>Mathematica
        <img src="/files/langs/mathematica.svg" class="ico">
    </li>
</ul>
<br>

<h3>Noteworthy Public Projects</h3>
<ul>
    <li>
        <a href="https://github.com/sameer-git-lfs-ipfs">Git Large File Storage with IPFS</a>
    </li>
    <li>
        <a href="https://github.com/vanderbilt-design-studio/state-machine">Vanderbilt Design Studio as a State Machine</a>
    </li>
    <li>
    	<a href="https://github.com/take-a-number/frontend">Take a Number: Queueing system for Vanderbilt Teaching Assistants</a>
    </li>
    <li>
        <a href="https://github.com/sameer/orient-stl">Orient STL files for FFF/FDM 3D printing using nonlinear optimization</a>
    </li>
    <li>
    	<a href="https://github.com/sameer/lrad">LRAD: A secure Update Framework</a>
    </li>
    <li>
        <a href="https://github.com/sameer/degree-advisor">Recursive-Backtracing Heuristic Course Scheduler</a>
    </li>
    <li>
    	<a href="https://github.com/sameer/python-openzwave-sniffer">OpenZWave sniffer in Python</a>
    </li>
    <li>
        <a href="https://github.com/sameer/spuri_io">This Site</a>
    </li>
</ul>
{% endblock %}