<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link integrity="{{ css_file_hash }}" rel="stylesheet" href="/files/style.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="/files/favicon.ico" />
	<link rel="icon" type="image/png" href="/files/favicon.png" />
	<title>{% block title %}{% endblock %} | purisa.me</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="theme-color" content="#000000">
	<meta name="msapplication-navbutton-color" content="#000000">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="Sameer Puri">
	<meta name="description" content="Sameer Puri's personal island in the seas of the interwebs. Come visit!"> {% block head %} {% endblock %}
</head>

<body>
	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a href="/" class="pagename current">purisa.me</a>
			{% for i in nav_items %}
			<a href="{{ i.link }}" {% if i.new_page %}target="_blank" {% endif %}>{{i.name}} {% if i.new_page %}&#128279;{% endif %}</a>
			{% endfor %}
			<a href="#" onclick="document.body.style.background='#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);">&#128161;</a>
		</div>
	</nav>
	<div class="container">
		<br> {% block body %} {% endblock %}
	</div>
</body>

</html>